/* Gewoon een voorsmaakje van wat je met SASS kan doen */
$font-stack:    Helvetica, sans-serif;
$background-color: #f4f4f7;
/* Je kan zien hoe je die variabelen hieronder in de body gebruikt */

body{
  font-family: $font-stack;
  text-align: center;
  padding: 50px 20px 0;
  background: $background-color;
  color: #444;
  margin: 0;
  width: 80%;
  margin: 25px auto;
}

h1{
  font-size: 65px;
  line-height: 1.2em;
  border-bottom: #CCC solid 1px;
  padding: 20px 0;
}

h3, p{
  margin-top: 25px;
  font-weight: 300;
}

h3 {
  font-size: 125%;
}
